{% load static %}

<link rel='stylesheet' href="{% static 'grocery_list_app/main.css' %}">

<h2>Incomplete grocery list</h2>
<form action="{% url 'grocery_list_app:add_item' %}" method='post'>
    {% csrf_token %}
    <input type='text' id='item' name='item'/>
    <input type="submit" value="add item to Incomplete list"/>
</form>


{% if current_grocery_list %}
<table>
    <tr>
        <th>Item</th>
        <th>Add to Completed List</th>
        <th>Delete</th>
    </tr>
    <ul>
    {% for item in current_grocery_list %}
        <tr>
            <td><li>{{item.text_description}}</li></td>
            <form action="{% url 'grocery_list_app:mark_complete' item.id %}" method='post'>
            {% csrf_token %}
            <td><input type="submit" value="Add"/></td>
            </form>
            <form action="{% url 'grocery_list_app:delete_item' item.id %}" method='post'>
            {% csrf_token %}
            <td><input type="submit" value="Delete"/></td>
            </form>
        </tr>
    {% endfor %}
    </ul>
</table>
{% endif %}

<hr/>

<h2>Complete grocery list</h2>

{% if completed_items %}
<table>
    <tr>
    <th>Item</th>
    <th>Delete</th>
    </tr>
    <ul>
    {% for item in completed_items %}
        <tr>
            <td><li>{{item.text_description}}</li></td>
            <form action="{% url 'grocery_list_app:delete_item' item.id %}" method='post'>
            {% csrf_token %}
            <td><input type="submit" value="Delete"/></td>
            </form>
        </tr>
    {% endfor %}
    </ul>
</table>
{% endif %}
