body {
    text-align: center;
    background-color: rgba(128, 76, 46, 0.4);
    color: rgb(117, 59, 18);
}
ul {
    align: center;
    list-style-position: inside;
}
img {
    float: right;
    border-radius: 20%;
}
p {
    margin: 25px;
    padding: 10px;
}
a {
    color: rgb(121, 89, 9);
}
ul {
    list-style-image: url("100-1003483_interested-in-tabletop-ing-hit-me-up-d20-critical-hit-die.png");
}
#quote {
    font-family: "Lucida Console", Monaco, monospace;
}