{% load static %}

<link rel='stylesheet' href="{% static 'url_app/main.css' %}">


<body>
    <h1>URL Shortener</h1>
    <main>
            <form action= "{% url 'url_app:submit' %}" method="post">
                {% csrf_token %}
                <input type='text' name='LongCode' placeholder='Make your links shorter' id='LongCode' required>
                <input type='submit' value='Shorten URL'>
            </form>
        {% if long_url %}
            <p>Here ya go...</p>
            <a href={{ long_url }}>{{ short_code }}</a>
        {% endif %}
    </main>
</body>