@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

* {
    /* display: flex; */
    /* box-sizing: border-box; */
    /* padding: 5px; */
    font-family: 'Lato', sans-serif;
}

title, h1 {
    font-size: 30px;
    color: blue;
    text-align: center;
}

legend {
    text-align: center;
    font-style: italic;
    /* background-color: sienna; */
}

div {
    background-color: rgb(177, 247, 247);
    margin: 5%;
    /* background-image: url('https://media.giphy.com/media/zRG8P7IndNxoLcq648/giphy.gif'); */
    /* background-image: url('turtlezRG8P7IndNxoLcq648.gif'); */
}

form {
    /* margin: 5px; */
    margin-left: 5%;
    margin-right: 5%;
    /* display: grid; */
    /* flex-basis: auto; */
    /* flex-grow: inherit; */
    max-width: 90%;
}

li, ol {
    /* display: flex; */
    font-size: 15px;
    /* margin: 2%; */
}

ol {
    background-color: rgb(222, 255, 192);
}


@media (min-width: 700px) {    

    form {
        /* margin: 5px; */
        margin-left: 15%;
        margin-right: 15%;
        max-width: 95%;
    }

    /* form {
    max-width: 55%;
    } */
}

@media (min-width: 1000px) {   

    form {
        /* margin: 5px; */
        margin-left: 25%;
        margin-right: 25%;
        max-width: 95%;
    } 
}
