{% extends 'base.html' %}

{% block content %}

    <div class="post-entry">
        <h2>{{ squeek.title }}</h2>
        <h4><em><a href="{% url 'users:profile' squeek.author.username %}" id="postmaker">{{ squeek.author.username }}</a></em></h4>
        <h5><em>Posted on {{ squeek.created }}</em></h5>
        <h5><em>Last Update on {{ squeek.updated }}</em></h5>
        {% if squeek.photo.url %}
            <p><img src="{{ squeek.photo.url|default_if_none:'#' }}" class="postimg"></p>
        {% endif %}
        <p class="posttext">{{ squeek.post|linebreaks }}</p>
    </div>

    {% if request.user == squeek.author %}
    <div class="detailbtns">
        <a class="btn btn-primary" href="{% url 'squawker:edit' squeek.pk %}" role="button" id="detailbtns">Edit Post</a>
        <a class="btn btn-primary" href="{% url 'squawker:delete' squeek.pk %}" role="button" id="detailbtns">Delete Post</a>
        <br><br>
    </div>
    {% endif %}
    

{% endblock content %}