<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todo List</title>
    <link rel="stylesheet" href="main.css">
</head>

<body>
    <div id="todo">
        <add-new-item></add
        <div>
            <h2>Incomplete Items</h2>
            <p v-if="incompleteItem.length"></p>
            <li v-for="item in incompleteItem" v-bind:key="item.id">
                {{ item.text }} 
                <input type="checkbox" v-model="item.completed">
                <button v-on:click="deleteItem(item, $event)">Delete</button>
            </li>
        </div> 

        <div>
            <h2>Complete Items</h2>
            <p v-if="completeItem.length"></p>
            <li v-for="item in completeItem" v-bind:key="item.id">
                {{ item.text }} 
                <input type="checkbox" v-model="item.completed">
                <button v-on:click="deleteItem(item, $event)">Delete</button>
            </li>
        </div>

    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="script.js"></script>
</body>
</html>