<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todo List</title>
    <link rel="stylesheet" href="main.css">
</head>
<body>
    <div id="todo">
        <div>
            <input v-model="item" @keydown.enter="addItem" placeholder=" Press Enter to submit">
            <button v-on:click="addItem">ADD</button>
        </div>
        <div>
            <h2>Incomplete Items</h2>
            <li v-for="item in items" v-bind:key="item.id">
                {{ item.text }} 
                <button v-on:click="completeItem(item)">Item Complete</button>
                <button v-on:click="deleteItem(item)">Delete</button>
            </li>
        </div> 
        <div>
            <h2>Complete Items</h2>
            <p>

                <!-- <button v-on:click="completeItem(item)">Item Complete</button>
                <button v-on:click="deleteItem(item)">Delete</button> -->

            </p>
        </div>


            <!-- <li v-for="item in complete_items" v-bind:key="item.id">
                {{ item.todo_item }}
                <button v-on:click="addItem(item)">Mark Incomplete</button>
                <button v-on:click="deleteItem(item)">Delete</button> 
            </li> -->
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="script.js"></script>
</body>
</html>