{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <link rel="stylesheet"  href="{% static './css/style.css' %}"/>
    <title>Student Roster</title>  
</head>
<body>

    {% if user.is_authenticated %}
    <h1>Welcome {{ user.username }}!</h1>
    <p><a href="{% url 'logout' %}">Logout</a><p>
    {% else %}
    <h1>Welcome, Visitor!</h1>
    <p>You are not logged in. <a href="{% url 'login' %}">Login</a> <a href="{% url 'users:signup' %}">Sign Up</a></p>
    {% endif %}

    <h1>Current Students</h1>

    {% csrf_token %}
    <div id="app">
        <ul>
            <li v-for="student in students" :key="student.id">
                Name: [[ student.first_name ]] [[ student.last_name ]] <br>
                Major: [[ student.favorite_topic ]]<br>
                Cohort: [[ student.cohort ]]<br>
                Capstone: [[ student.capstone ]]<br>
            </li>
        </ul>

        <div class="create">
            <h2>New Student</h2>
                <input type="text" placeholder="First name" v-model="new_student.first_name"><br>
                <input type="text" placeholder="Last name" v-model="new_student.last_name"><br>
                <input type="text" placeholder="Cohort" v-model="new_student.cohort"><br>
                <input type="text" placeholder="Favorite topic" v-model="new_student.favorite_topic"><br>
                <input type="text" placeholder="Favorite teacher" v-model="new_student.favorite_teacher"><br>
                <input type="text" placeholder="Capstone" v-model="new_student.capstone"><br> 
                <button @click="createStudent">Create New Student</button>
            </div>
        </div>

    </div>

    <script src="https://unpkg.com/axios/dist/axios.min.js" ></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js" ></script>
    <script>
        let app = new Vue({
            el: '#app',
            delimiters: ['[[', ']]'],
            data: {
                students: [],
                csrf_token: "",
                new_student: {
                    first_name: "",
                    last_name: "",
                    cohort: "",
                    favorite_topic: "",
                    favorite_teacher: "",
                    capstone: ""
                },
                csrf_token: "",
                studentErrors: {}
            },
            methods: {
                loadStudents: function() {
                    axios({
                        method: 'get',
                        url: '/apis/v1/',
                    }).then(response => {
                        this.students = response.data
                    }).catch(error => {
                        console.log(error.response.data)
                    })
                },
                createStudent: function() {
                    axios({
                        method: 'post',
                        url: '/apis/v1/',
                        headers: {
                            'X-CSRFToken': this.csrf_token
                        },
                        data: this.new_student,
                    }).then(response => {
                        this.loadStudents()
                        this.studentErrors = {}
                        this.newStudent = {
                            first_name: "",
                            last_name: "",
                            cohort: "",
                            favorite_topic: "",
                            favorite_teacher: "",
                            capstone: ""
                        }
                        this.students = response.data
                    })
                }
            },
            created: function() {
                this.loadStudents()
            },
            mounted: function() {
                this.csrf_token = document.querySelector('input[name="csrfmiddlewaretoken"]').value
                this.loadStudents()
            }
        });
    </script>
</body>
</html>