html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}

img {
    display: block;
    max-width: 100%;
}

h1, h2, h3, h4, h5, h6 {
    text-align: center;
}

.sidebar {
    
  height: 100%; 
  width: 80px;
  position: fixed; 
  background-color: darkslategray;
  overflow-x: hidden;
  padding-top: 70px;
  color: whitesmoke;
  display: flex;
  align-content: center;
  flex-direction: column;
  text-align: right;
  z-index: 1; 
  top: 0; 
}

body{
    background-color: beige;
}
main {
    margin-left: 100px; 
    padding: 0px 10px;
  }

p {
    display: flex;
    width: 90%;
    flex-direction: column;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
    
    
    
}

.article-title {
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    
}

.article-summary {
    border-left: 1px solid black;
    padding: 5px;
}

a {
    text-align: right;
    display: flex;
    justify-content: flex-end;
    color: slategray;
    
}

header {
    background-color: darkslategray;
    color: whitesmoke;
    padding-top: 1px;
    display:flex;
    flex-direction: row-reverse;
}

.headerpic{
    width: 20%;

}

h1{
    padding-right: 40px;
    font-family: cursive;
}

@media (min-width: 700px){
    .articles{
        display: flex;
        flex-wrap: wrap;
        width: 45%;
    }
    .sidebar{
        width: 120px;
    }
    section{
        height: 750px;
        display: flex;
        flex-wrap: wrap;
    }
}