{% load static %} 

{% comment %} 
# THIS FILE IS IN (OR WAS COPIED FROM) HERE:
# DJANGO LAB 3, TWITTER MVP CLONE: https://github.com/PdxCodeGuild/class_orca/blob/main/3%20Django/labs/lab03-chirp.md
# PROJECT NAME: chirp_project
# APP NAMES: posts_app, users_app
{% endcomment %}

<!DOCTYPE html>

<html>

    <head>
      <title>Twirpy Twapper Clone</title>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel="stylesheet" href="{% static 'css/github_necolas_normalize.css'%}">
      <link rel="stylesheet" href="{% static 'css/main.css'%}">
    
      <link rel="preconnect" href="https://fonts.gstatic.com">
      <link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet"> 
      <link rel="preconnect" href="https://fonts.gstatic.com">
      <link href="https://fonts.googleapis.com/css2?family=Open+Sans&family=Pacifico&display=swap" rel="stylesheet"> 
      
      <!-- development version, includes helpful console warnings -->
      <!-- <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script> -->
      <!-- or: -->    <!-- production version, optimized for size and speed -->
      <!-- <script src="https://cdn.jsdelivr.net/npm/vue@2"></script> -->
      <!-- ANOTHER VUE ON A CDN OPTION: -->
      <!-- Include Vue from a CDN of your choice, I chose unpkg -->
      <!-- <script src="https://unpkg.com/vue"></script> -->
      <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js" defer></script>

      <!-- <script src="https://unpkg.com/axios/dist/axios.min.js" defer></script> -->

    </head>

  <body>    
    
    <header>
      <div class="nav-left">
        <h1> <a href="{% url 'posts_app:home' %}">Twirpy Twapper Clone</a> </h1>
      </div>

      <div class="nav-right">
                
        {% if request.user.is_authenticated  %}
          <p>Hello, user: <a href="{% url 'users_app:profile' request.user.username %}" id="username"> {{ request.user.username }} </a></p>
          {% comment %} definetly user, not users !  {% endcomment %}
          {% comment %} NOTE added a bit with request.user.is_authenticated, rather than just user.username {% endcomment %}
          <p><a href="{% url 'posts_app:new_post'%}">+ New Chirp</a></p>
          <p><a href="{% url 'posts_app:change_password'%}">Change Password</a></p>
          <p><a href="{% url 'logout'%}">Logout</a></p>
        {% else %}
          <p><a href="{% url 'users_app:signup' %}">+ New User Creation</a></p>
          <p><a href="{% url 'login' %}">+ Existing User Login</a></p>
        
        {% endif %}

      </div>

    </header>

    <div class="chirp-container">
    
        {% block content %}

        {% endblock content %}

    </div>

    <footer>
    Copyright 2020-2021 John Fial.
    <br>
    <br>
    </footer>

  </body>
</html>