{% extends 'base.html' %}

{% block content %}

    
        <div>
        {% if ragepage_list %}
          <ul style="list-style-type:none;">
           {% for ragepage in ragepage_list %}
            <li>
              <a href="{% url 'bloglab:detail' ragepage.id %}"> {{ragepage.title}}</a>
              <p><img src="{{ ragepage.photo.url }}"></p>
              <h3>{{ ragepage.author }}</h3>
              <h4>{{ ragepage.created }}</h4>
              
            </li>
            {% endfor %}
          </ul>
        {% else %}
          <p> There are no posts yet </p>
        {% endif %}
        </div>


{% endblock content %}