{% extends 'base.html' %}

{% block content %}

    {% comment %} {% for post in object_list %} {% endcomment %}
        <div class="ragepage-entry">
            {% comment %} <h2><a href="{% url 'ragepage:detail' ragepage.pk %}">{{ ragepage.title }}</a></h2> {% endcomment %}
            {% comment %} <h4><em><a href="{% url 'users:profile' ragepage.author.username %}">{{ ragepage.author }}</a></em></h4> {% endcomment %}
            <h2 id='title'>{{ ragepage.title }}</h2>
            <h3 id='author'>by {{ ragepage.author }}</h3>
            <p><img src="{{ ragepage.photo.url }}"></p>
            <h4 id='date'>{{ ragepage.created }}</h4>
            <div class="caption">
            <p> {{ ragepage.caption|linebreaks }}</p>
            </div>
        </div>
        <div class="links">
        {% if request.user.is_authenticated %}
        <a id="edit" href="{% url 'bloglab:edit' ragepage.id %}"> Edit Post </a>
        <a id="delete" href="{% url 'bloglab:delete' ragepage.id %}"> Delete Post </a>  
        <a id="home" href="{% url 'bloglab:home'  %}"> Back to Rage Page Home </a> 
        {% else %}
        <a href="{% url 'bloglab:home'  %}"> Back to Rage Page Home </a>
        {% endif %}

        </div> 
    {% comment %} {% endfor %} {% endcomment %}

{% endblock content %}