{% load static %}
<html>
    <head>
        <title>Woofer | It's What's Happening</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="{% static 'css/post.css' %}">
    </head>
    <body>
        <div>
            <h1><a href="/">Woofer</a></h1>
        </div>

        {% for post in posts %}
            <div>
                <h3>{{post.author}}</h3>
                <p>{{ post.text }}</p>
                <p>{{ post.created_date }}</p>
            </div>
        {% endfor %}
    </body>
</html>