body {
    background-color: rgb(252, 249, 225);
    color:rgb(209, 105, 66);
    font-family: "Comic Sans MS";
}
header, main, footer{
    background-color: lemonchiffon;
    padding: 20px;
}

header {
    text-align: center;
    margin: 10px;
}

nav {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

nav p {
    margin-right: 60px;
    margin-left: 60px;
}

main {
    margin: 10px;
}

.side {
    background-color: rgba(245, 172, 143, 0.623);
    float: left;
    margin: 10px;
    margin: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
}


.content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.content p {
    min-width: 200px;
    max-width: 60%;

}

.content img {
    width: 30%;
    min-width: 200px;
}


footer {
    margin: 10px;
}

footer h3 {
    text-align: center;}

.socials {
    display: flex;
    align-content: center;
    justify-content: center;
}

.socials p {
    margin-right: 60px;
    margin-left: 60px;
}


@media (min-width: 1100px){
    div, main {
        display: flex;
        flex-wrap: wrap;
    }
}

@media (min-width: 700px){
    .posts {
        display: flex;
        flex-wrap: wrap;
    }
    img {
        min-width: 300px;
    }
}
/* flex-direction:column-reverse;
flex-wrap: wrap-reverse;
justify-content: center;
align-content: space-between */
