{% comment %} 
# THIS FILE IS IN (OR WAS COPIED FROM) HERE:
# DJANGO LAB 5, BLOG https://github.com/PdxCodeGuild/class_orca/blob/main/3%20Django/labs/lab05-blog.md
# PROJECT NAME: blog_project
# APP NAMES: blog_app, users_app
{% endcomment %}

{% extends 'base.html' %}

  {% block content %}
      
    <h1>DELETE THIS POST:</h1>

      <form action="" method="post">
        {% csrf_token %}

        <p>Are you sure you want to delete the post  "{{ post.title }}" ?</p>
        
        <input type="submit" value="DELETE?!">


      </form>

  {% endblock content %}