{% comment %} 
# THIS FILE IS IN (OR WAS COPIED FROM) HERE:
# DJANGO LAB 5, BLOG https://github.com/PdxCodeGuild/class_orca/blob/main/3%20Django/labs/lab05-blog.md
# PROJECT NAME: blog_project
# APP NAMES: blog_app, users_app
{% endcomment %}

{% extends 'base.html' %}

  {% block content %}
      
    <h1>New Post as p</h1>
      <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}

        {{ form.as_p }}
        <input type="submit" value="Submit!">


      </form>
      
    {% comment %} 
    <h1>New Post as div</h1>
      <form action="" method="post">
        {% csrf_token %}

        {{ form.as_div }}
        <input type="submit" value="Submit!">


      </form> 
      {% endcomment %}

  {% endblock content %}