{% comment %} input is grocery list {% endcomment %}
{% load static %}
{% comment %} good idea to have this at the top of every html... {% endcomment %}
<link rel="stylesheet" href="{% static 'polls/main.css'%}">

{% if current_grocery_list %}
    <ul>
        {% for item in current_grocery_list %}
        <li> {{item.grocery_description}} </li>
        {% endfor %}
    </ul>
{% endif %}




{% comment %}
{% if latest_question_list %}
    <ul>
    {% for question in latest_question_list %}
        <li><a href="{% url 'polls:detail' question.id %}">{{ question.question_text}} Posted on {{question.pub_date}}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No polls are available.</p>
{% endif %} {% endcomment %}



{% comment %} NOTE {% endcomment %}
{% comment %} NOTE {% endcomment %}
{% comment %} NOTE {% endcomment %}
{% comment %} IN LABS, PUT IN FULL HTML PAGES AND SYNTAX, HTML TAG, SYNTAX, CSS, ETC... {% endcomment %} {% endcomment %}