{% comment %} input is grocery list {% endcomment %}
{% load static %}
{% comment %} good idea to have this at the top of every html... {% endcomment %}
<link rel="stylesheet" href="{% static 'grocery_list/main.css'%}">

{% comment %} TODO: LIMIT THIS FORM TO 200 CHARACTERS! {% endcomment %}

<hr>
<h1>Shopping List:</h1>

{% if current_grocery_list %}
    <ul>
        {% for item in current_grocery_list %}
        <li> {{item.grocery_description}} </li>
        {% endfor %}
    </ul>
{% else %}
    <h1>List is empty!</h1>
{% endif %}

{% comment %} EACH Item:
-CHECKBOX TO MARK Completed
-CHECKBOX TO DELETE...
...SUBMIT AT BOTTOM {% endcomment %}

<hr>
<h1>Add new item:</h1>
<form action="{% url 'grocery_list:add_item' %}"  method="POST">
    {% csrf_token %}
    {% comment %} FORM NEEDS A {% csrf_token %} {% endcomment %}
    <input type="text" id="item" name="item"/>
    {% comment %} <input type="button" value="Add to grocery list" />     {% endcomment %}
    <input type="submit" value="Add item!">
</form>
<hr>

<h1>Completed Items:</h1>
{% if completed_items %}
    <ol>
        {% for item in completed_items %}
        <li>Completed on {{item.completed_date}}: <strong>{{item.grocery_description}}</strong>.</li>
        {% endfor %}
    </ol>

{% else %}
    <h1>List is empty!</h1>
{% endif %}
<hr>


{% comment %} NOTE {% endcomment %}
{% comment %} IN LABS, PUT IN FULL HTML PAGES AND SYNTAX, HTML TAG, SYNTAX, CSS, ETC... {% endcomment %}