html {
    background-color: rgb(192, 224, 243);
}

.nav {
    grid-column-start: 1;
    grid-column-end: 2;
}

.nav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    display: block;
}

.body {
    display: grid;
    grid-column-gap: 50px;
    grid-template-columns: 100px 1fr 1fr 1fr;
    grid-template-rows: 25% 25% 25% 25%; 
    grid-row-gap: 50px;
}

h6 {
    grid-column-start: 2;
    grid-row-start: 1;
    grid-row-end: 2;

}

.item1 {
    grid-column-start: 2;
    grid-row-start: 3;
    grid-row-end: 4;
}

.item2 {
    grid-column-start: 2;
    grid-row-start: 4;
}