body {
    margin: 25px 100px;
    border: 1px solid darkgrey;
    font-family: 'Lato', sans-serif;
}
#location-input {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-bottom: .5px solid darkgray;
}
#weather-summary {
    margin-left: 20px;
}
#available-conditions {
    display: flex;
    justify-content: space-evenly;
    border-bottom: .5px solid darkgray;
}
button, input {
    font-family: 'Lato', sans-serif;
    border: 1px solid grey;
    border-radius: 0;
    background-color: white;
    max-height: 25px;
}
#current-conditions, #hourly-conditions, #daily-conditions {
    max-width: 33%;
}
#hour-box {
    display: flex;
    overflow-x: auto;
    scroll-snap-stop: normal;
    }
#hour::-webkit-scrollbar {
    display: none;
}
#hour {
    border-top: .5px solid grey;
    border-left: .25px solid grey;
    border-left: .25px solid grey;
    font-size: x-small;
    min-width: 99%;
    min-height: 200px;
    font-size: 14pt;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
p {
    font-size: 11pt;
    text-align: justify;
}
#hour p {
    padding-left: 15px;
}
#load-news {
    margin-left: 45px;
    margin-bottom: 20px;
}
#news-articles {
    margin: 20px 20px; 
}
.article {
    display: flex;
    border-top: .5px solid darkgray;
}
#article-media {
    margin: 20px 0px 0px 30px;
}
#caption {
    font-size: 9pt;
}
#article-text {
    margin: 0 50px 0 30px;
}
#author-text {
    font-weight: bold;
    font-size: 8pt;
    margin-bottom: 0;
    padding-bottom: 0;
}
#author {
    font-size: 10pt;
    margin-top: 0;
    padding-top: 0;
}