html {
    background-color: black;
    color: white;
}

#navbar {
    display: flex;
    justify-content: left;
}

a:link {
    font-family: Arial, Helvetica, sans-serif;
    list-style: none;
    text-decoration: none;
    color: honeydew;
}   


#UL1 {
    position: absolute;
    right: 0px;
}

#UL1 li {
    justify-content: right;
    display: inline-block;
    padding: 15px;
}

#section {
    top: px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    margin-right: auto;
    margin-left: auto;
    color: rgb(194, 191, 206);
    font-family: Verdana;
    text-align: center;
    width: 100%;
}


#footer {
    display: flex;
    justify-content: center;
    margin-right: auto;
    margin-left: auto;
}

#UL2 li {
    display: inline-block;
    font-size: 12px;
    padding: 20px;
}

@media screen and (min-width: 1000px) {
    #section {width: 25%;}
    #navbar {justify-content: center;}
}

