html {
    background-color: black;
}

header {
    text-align: center;
    font-family: sans-serif;
    color: white;
    padding: 20px;
}

body {
    display: flex;
    flex-direction: column;
    padding: 12px;
    margin: 12px;
}

nav {
    display: flex;
    justify-content: center;
}

a:link {
    font-family: Arial, Helvetica, sans-serif;
    list-style: none;
    text-decoration: none;
    color: honeydew;
}   

#UL1 li {
    display: inline-block;
    padding: 15px;
}

section {
    color: rgb(194, 191, 206);
    font-family: Verdana;
}

footer {
    text-align: right;
}

#UL2 li {
    display: inline-block;
    font-size: 12px;
    padding: 20px;
}

@media screen and (min-width: 700px) {
    section {width: 75%;}
}

@media screen and (min-width: 1000px) {
    section {width: 60%;}
    nav {justify-content: left;}
    footer {text-align: left;}
    header {text-align: left;}
}