{% extends 'base.html' %}
{% block content %}

<div class="profile_container">
    <div class="header">
        <i class="fas fa-user-circle"></i>
    </div> 
    <p>{{ object.username }}</p>

    
    {% for post in object.chirpposts_set.all %} 
    <a href="{% url 'chirp_posts:detail' post.pk %}">    
    <div class="profile_content">
        <h2>{{ post.title}}</h2>
        <img id="post_pic" src="{{ post.media.url }}">
        <p>{{ post.content|linebreaks }}</p>
        <h3><em>Created on:  {{ post.created_on}}</em></h3>
        <h3><em>Last edited on:  {{ post.edited_on}}</em></h3>
    </div> 
    </a>   
    {% endfor %}
</div>

{% endblock content %}