{% extends 'posts/base.html' %}

{% block content %}

    <div class="post-entry">
        <h3>{{ post.title }}</h3>
        <h5><em>By: <a href="{% url 'users:profile' post.author.username %}">{{ post.author.username }}</a><br>
        Posted: {{ post.created }}<br>
        Updated: {{ post.updated}}</em></h5><br>
        {% comment %} <p><img src="{{ post.photo.url }}"></p> {% endcomment %}
        {{ post.body|linebreaks }}
    </div>

    {% if request.user == post.author %}
        <h5><a href="{% url 'posts:edit' post.pk %}">Edit</a><br>
        <a href="{% url 'posts:delete' post.pk %}">Delete</a></h5>
    {% endif %}

{% endblock content %}