html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body {
    text-align: center;
    width: 950px;    
    background-color: ffcbd3;
    font-family: 'Lato', sans-serif;
    color: #dd0312;
}
h1 {
    padding: 20px 50px 55px 50px;
    padding-top:20px;
    font-size: 65pt;
    color: #A90405;
    font-family: 'Pinyon Script', cursive;
    margin-bottom: 5px;
}
h2 {
margin-top:0px;
margin-bottom:50px;
margin-left: 150px; 
margin-right: 150px;
padding-right: 50px;
padding-left: 50px;
border-radius: 10px;
color: #C50215;
font-size: 16pt;
}
p {
    font-size: 18px;
    height:10px;
    margin-top:19px;
    margin-bottom: 20px;
    margin-right: 150px;
    margin-left: 150px;
    border-radius: 10px;
}
a {
    color: 99076f;
}
ul {
    list-style-position: inside;
    list-style-type: none;
    margin-bottom: 20px;
    padding-bottom: 25px;
    color: #99076F;
}
li {
    padding-right: 40px;
}
img {
    border-radius: 15px;
}
h2:last-of-type {
    height:5px;
    margin-top: 50px;
    color: #E02E87;
}
blockquote {
    padding-left: 50px;
    text-align: left;
    font-family: 'Gill Sans';
    font-size: 18px;
    color: #150FBF;
}