[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
pylint = "*"
pillow = "*"
"django.generic" = "*"

[dev-packages]

[requires]
python_version = "3.8"
