/* John Fial, PDX Code Guild, 2020-2021, www.johnfial.com  */
/* *********** NOTE ************* */

/* copied this from bottom of page "box sizing" @ https://github.com/PdxCodeGuild/class_orca/blob/main/2%20HTML%20+%20CSS/docs/06%20-%20CSS%20Box%20Model.md */
html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
} /* */

h1, h2, h3, h4, h5, h6 {
    text-align: center;
}

body {
    background-color: rgb(220, 237, 243);
    padding: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


header, footer, main {
    padding: 10px;
    background-color: rgb(236, 236, 255);
    align-items: center;
}

nav {
    display: flex;
    justify-content: left;
}


img {
    display: block;
    max-width: 100%;
    border-radius: 10%;
    padding: 2%;
}


p {
    /* padding: 0%;
    text-align: justify; */
    margin: 10px;
}


@media (min-width: 700px) {
    body, header, footer, main {
        padding: 20px;
    }

    nav {
        justify-content: center;
    }

    /* nav p {
        margin-top: 5px;
        background-color: lightpink;
    } */

    .gallery {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .fake-item {
        width: 45%;
    }

}


@media (min-width: 1000px) {
    .fake-item {
        width: 30%;
    }
}