html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
header {
    padding-bottom: 48px;
}
header, body, footer {
    text-align: center;
    padding-left: 6px;
    padding-right: 7px;
}
h1 {
    font-size: 42px;
    font-family: 'Goldman', cursive;
    text-decoration: underline;
}
.titles h2 {
    font-size: 32px;
    font-family: 'Teko', sans-serif;
}
nav a {
    color: rgb(242, 255, 168);
    text-decoration: none;
    padding-left: 6px ;
}
body {
    background-color: black;
    color: rgb(242, 255, 168);
}
body div {
    padding-top: 100px;
    padding-bottom: 100px;
}
img {
    max-width: 100%;
}