html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
img {
    display: block;
    max-width: 100%;
}
body {
    background-color: #003B74;
}
h1, nav {
    display: flex;
    flex-direction: row;
    color: #E9F5F7;
    justify-content: flex-end;
    margin-right: 10px;
    margin-bottom: 0px;
}
h1 {
    text-decoration: underline  ;
}
nav a {
    display: flex;
    flex-direction: row; 
    padding-left: 6px;
    padding-right: 6px;
    color: #E9F5F7;
}
.intro, .blog_entry {
    display: flex;
    flex-flow: column;
    text-align: justify;
    padding: 3px;
    margin: 30px 10px;
    background-color: #E9F5F7;
    box-shadow: 1px 2px 30px rgb(20, 18, 18);
    border-radius: 5px;
}
h2 {
    margin-top: 3px;
    margin-bottom: 3px;
    font-family: 'Lora', serif;
    font-weight: 400;
}
div img {
    margin-top: 3px;
    border-radius: 2px;
    box-shadow: 2px 2px 5px black;
}
footer {
    color: #E9F5F7;
    padding-left: 10px;
    font-size: 8pt;
    margin-top: 200px;
}
p {
    font-family: 'Sumana', serif;
    font-size: 11pt;
    text-indent: 10px;
    padding-left: 3px;
    padding-right: 3px;
    padding-top: 6px;
}
p:first-of-type {
    margin-top: 0px;
}
p::first-letter {
    font-size: 18pt;
}
@media (min-width: 700px) {
    h1, nav, .intro, footer {
        margin-right: 6%;
        margin-left: 6%;
    }
    .blog_entry {
        width: 40%;
    }
    .blog {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-evenly;
    }
}
@media (min-width: 960px) {
    .blog_entry {
        width: 25%;
    }
}