html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
img {
    max-width: 100%;
    margin: 0px;
    border: none;
    padding-bottom: 12px;
}
h1, a {
    margin-bottom: 0px;
    color: white;
}
nav, h1 {
    display: flex;
    justify-content: center;
}
nav {
    padding-top: 6px;
    padding-bottom: 32px;
}
nav a {
    padding-left: 12px;
    padding-right: 12px;
}
body {
    text-align: left;
    background-color: #024873;
    font-family: 'Bitter', serif;
}
p, h2 {  
    background-color: white;
    padding-left: 12px;
    padding-right: 12px;
}
p {
    margin-top: 0px;
    font-size: 15px;
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: justify;
    text-indent: 18px;
}
h2 {
    margin-bottom: 0px;
    padding-top: 12px;
}
footer {
    color: white;
    font-size: 8pt;
    padding-left: 18px;
    padding-bottom: 6px;;
    padding-top: 64px;;
}
p::first-letter {
    font-size: 16pt;
    ;
}
h1 {
    font-family: 'Gentium Basic', serif;
}
div {
    padding-top: 36px;
}

#help {
    padding-bottom: 24px;
}
@media (min-width: 700px) {
    div {
        margin-left: 24px;
        margin-right: 24px;
        width: 45%;
    }
    .blog {
        display: flex;
        flex-wrap: wrap;
    }
}
