<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Lab 11 To-Do list in JS's VUE</title>
    
    <!-- ANOTHER VUE ON A CDN OPTION: -->
    <!-- Include Vue from a CDN of your choice, I chose unpkg -->
    <!-- <script src="https://unpkg.com/vue"></script> -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js" defer></script>
    <script src="js/vuetest.js" defer></script>

    <link rel="stylesheet" href="/css/site.css" />
  </head>

  <body>

    <div id='container'>

      <div id="to-do-list">
        <form v-on:submit.prevent='addNewTask'>
          <label for="new_task">New Task:</label>
          <input v-model="newTaskText" id="new_task" placeholder="Enter Task Here">
          <button>Add task</button>
          <!-- shortcut for v-bind:title="" is 
            :title=""
            or
            @click=""
            @keyPress=""
            @change=""
           -->
        </form>

        <hr>

        <div id="incomplete">
          <p>Incompleted Tasks:</p>

          <ul v-for="(task, index) in task_list">
            <li v-if="!task.completed">
              <button @click='swap_completed(index)'>✓</button>
              Incomplete || {{ task.task_name }}
              <button v-on:click="delete_task(index)">(!) Delete</button>
            </li>
          </ul>
        </div>

        <hr>
        <div id="completed">
          <p>Completed Tasks:</p> 

            <ul v-for="(task, index) in task_list" style="text-decoration: line-through">                 
              <!-- 
                NOTES on combining if/for :
                  https://vuejs.org/v2/style-guide/#Avoid-v-if-with-v-for-essential :
    
                  https://vuejs.org/v2/guide/list.html#v-for-with-v-if :
                  When they exist on the same node, v-for has a higher priority than v-if. 
                  That means the v-if will be run on each iteration of the loop separately. 
                  This can be useful when you want to render nodes for only some items, like below:
                      <li v-for="todo in todos" v-if="!todo.isComplete">
                      {{ todo }}
                      </li>
                  
                At the moment, the easiest solution was to put the FOR as the parent and the IF as the child:
              -->
              <li  v-if="task.completed">
                <button @click='swap_completed(index)'>--</button>
                Completed || {{ task.task_name }}
                <button v-on:click="delete_task(index)">(!) Delete</button>
              </li>
            </ul> 
        </div>

        <hr>

      </div>

      <br>
      <br>
      <br>
      <br>
      <br>
      <div style="border: dashed 3px; width: 50%;" id="to-do-list">
        <h2>To-Do List:</h2>
        <ul>
          <li>Could certainly style it better, perhaps left/right...</li>
          <li>Exercise: Try to add completed time or date...</li>
          <li>. . . . . . .</li>
          <li><strike>Completed items are commented out in the HTML:</strike></li>
          
          <!--
  
          <li>. . . . . . .</li>
          -->
        </ul>
      </div>

    </div>  
  </body>
</html>

