/* 
# THIS FILE IS IN (OR WAS COPIED FROM) HERE:
# DJANGO LAB 3, TWITTER MVP CLONE: https://github.com/PdxCodeGuild/class_orca/blob/main/3%20Django/labs/lab03-chirp.md
# PROJECT NAME: blog_project, # APP NAMES: blog_app, users_app 
*/

/* 
Below was originally to make Chrome reload the CSS, but Shift+F5 worked well.
src="/css/styles.css?v={random number/string}" 

COLOR COMMENTS, MOSTLY FROM https://visme.co/blog/website-color-schemes/ # 4 'Cool and Fresh'

Green-centered, kinda 'digital old video game' theme:
    #05386B dark, almost black
    #379683 light, almost grey
    #5CDB95 bright green, base background
    #BEE4AF lighter green/grey, 
    #EDF7E1 light colored white-ish text

NOTES:
    #here is an id="here"
    .here is a class="here"

*/

@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');


* {
    font-family: 'Lato', sans-serif;
}
#bugs {    
    border: 5px solid #EDF7E1;
    margin-bottom: 5%;
}
li, ol {
    /* display: flex; */
    font-size: 15px;
    color: #5CDB95 ;
    background-color:#05386B;
}
h1, h2, h3 , h4, h5, h6 {
    font-family: 'EB Garamond';
    text-align: center;
}
header {
    border-bottom: 5px solid #EDF7E1;
    margin-bottom: 18px;
    display: flex;
}
header h1 a {
    /* removes the underline link from the links in header h1 */
    text-decoration: none;
}
h2 a {
    text-decoration: none;
}
legend {
    text-align: center;
    font-style: italic;
    /* background-color: sienna; */
}

.nav-left {
    margin-right: auto;
}      
.nav-right {
display: flex;
padding-top: 1rem;
}      
.nav-right p {          
margin-left: 0.5rem;
margin-right: 0.5rem;
/* margin-left: .25rem;
margin-right: .25rem; */
}

body {
    font-family: 'Libre Franklin', sans-serif;
    font-size: 18px;
    background-color: #5CDB95;
    color: #05386B;
    margin-left: 5%;
    margin-right: 5%;
    /* background-image: url('https://media.giphy.com/media/zRG8P7IndNxoLcq648/giphy.gif'); */
    /* background-image: url('turtlezRG8P7IndNxoLcq648.gif'); */
    border-bottom: 5px solid #EDF7E1;
    margin-bottom: 5%;
}

/* This is the formatting for the chirp display */
.chirp {
    margin: 3rem;
    border: 1px dashed olive;
    padding: 5px;
}
.chirp h6 a, .chirp h6 a:visited {
    text-decoration: none;
    color:  #379683;
}
.chirp p {
    /* margin: 0; */
    font-weight: 400;
}
.chirp h6 a:hover {
    color: #BEE4AF;
}

form {
    /* margin: 100px; */
    padding: 10px;
    max-width: 90%;
}
input {
    /* #05386B dark, almost black
    #379683 light, almost grey
    #5CDB95 bright green, base background
    #BEE4AF lighter green/grey, 
    #EDF7E1 light colored white-ish text */
    background-color:#EDF7E1;
}


@media (min-width: 700px) {    
    body {
        margin-left: 20%;
        margin-right: 20%;    }
    
}

@media (min-width: 1000px) {    
}
