<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    {% load static %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="https://yarn.pm/normalize.css"/>
    <link href="https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;1,400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'grocery/style.css' %}">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <title>Grocery List</title>
</head>
<body>
    <div class=header>
        <h1>Groceries</h1>
    </div>

    <div class="display">
        <table class="table table-hover">
            <h3>Grocery List</h3>
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Item</th>
                    <th scope="col">Added on</th>
                    <th scope="col">Complete?</th>
                    <th scope="col">Delete?</th>
                </tr>
            </thead>
            <tbody>
                {% if grocery_list %}
                    {% for item in grocery_list %}
                        <tr>
                            <th scope="row">{{ forloop.counter }}</th>
                            <td>{{ item.item_text }}</td>
                            <td>{{ item.date_created }}</td>
                            <td><a href="#">Completed</a></td>
                            <td><a href="#">Delete</a></td>
                    {% endfor %}
            </tbody>
                {% else %}
                    <p>No items available</p>
                {% endif %}
        </table>
    
    </div>

<div class="add-item">
    <h3>Add Item</h3>

    <form action="{% url 'grocery_app:create' %}" method="post">
        {% csrf_token %}

        <label for="item &nbsp;">Item</label>
        <input type="text" id="item" name="item"/>
        <button type="submit">Add</button>

    </form>
</div>

<div class="display">
        <table class="table table-hover">
            <h3>Purchased</h3>
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Item</th>
                    <th scope="col">Purchased on</th>
                </tr>
            </thead>
            <tbody>
                {% if done_list %}
                    {% for item in done_list %}
                        <tr>
                            <th scope="row">{{ forloop.counter }}</th>
                            <td>{{ item.item_text }}</td>
                            <td>{{ item.date_completed }}</td>
                    {% endfor %}
            </tbody>
                {% else %}
                    <p>No items available</p>
                {% endif %}
        </table>
    
    </div>

{% comment %} {% if grocery_list %}
    <ul>
        {% for item in grocery_list %}
            <li>{{ item.item_text }} -- Added on {{ item.date_created }} | <a href="#">Complete?</a> | <a href="#">Delete?</a></li>
        {% endfor %}
        </ul>
{% else %}
    <p>No items available</p>
{% endif %} {% endcomment %}



</body>