html {
    height: 100%;
    overflow: hidden;
}

body {
    color: #fff;
    margin: 0;
    padding: 0;
    perspective: 1px;
    transform-style: preserve-3d;
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
    
}

header {
    box-sizing: border-box;
    min-height: 100vh;
    padding: 30vw 0 5vw;
    position: relative;
    transform-style: inherit;
    width: 100vw;
}

header h1 {
    margin-top: 0px;
    font-size: 300%;
    font-family: 'Permanent Marker', cursive;
}

header, header:before {
    background: 50% 50% / cover;
}

header::before {
    bottom: 0;
    content: "";
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    display: block;
    background-image: url(road.jpg);
    background-size: cover;
    transform-origin: center center 0;
    transform: translateZ(-1px) scale(2);
    z-index: -1;
    min-height: 100vh;
}

header * { 
    font-weight: normal;
    letter-spacing: 0.2em;
    text-align: center;
    margin: 0;
    padding: 1em 0;
}

ul {
    display: flex;
    margin: 0;
    padding: 0em 0;
    background-color: white;
    justify-content: space-around;
    position: relative;
    text-align: center;
}
li {
    display: flex;
    font-size: 20px;
    margin: 10px;
}
#list {
    font-family: Arial, Helvetica, sans-serif;
    color: #363d21;
    text-decoration: none;
    transition-duration: .2s;
    cursor: pointer;
    }
    
#list:hover {
        color: #808080;
}

img {
    height: 100%;
    width: 100%;
}
#roadtrip {
    display: flex;
    height: 350px;
    width: 100%;
    background-image: url(car.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    font-size: 50px;
    justify-content: center;
    align-items: column;
    align-content: center;
    padding: 0;

}

#portland {
    display: flex;
    height: 350px;
    width: 100%;
    background-image: url(portland.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    font-size: 50px;
    justify-content: center;
    align-items: column;
    align-content: center;
    padding: 0;
}
#hood {
    display: flex;
    height: 350px;
    width: 100%;
    background-image: url(hood.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    font-size: 50px;
    justify-content: center;
    align-items: column;
    align-content: center;
    padding: 0;
}
#coast {
    display: flex;
    height: 350px;
    width: 100%;
    background-image: url(coast.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    font-size: 50px;
    justify-content: center;
    align-items: column;
    align-content: center;
    padding: 0;
}
#camping {
    display: flex;
    height: 350px;
    width: 100%;
    background-image: url(camping.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    font-size: 50px;
    justify-content: center;
    align-items: column;
    align-content: center;
    padding: 0;
}

#park {
    display: flex;
    height: 350px;
    width: 100%;
    background-image: url(park.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    font-size: 50px;
    justify-content: center;
    align-items: column;
    align-content: center;
    padding: 0;
}
#icon {
    color: white;
    transition-duration: .2s;
    cursor: pointer;
    padding-top: 0px;
}
#icon:hover {
    color: #808080;
}

#footer {
    display: flex;
    background-color: white;
    color: #242916;
    font-family: Arial, Helvetica, sans-serif;
}

div {
    display: flex;
    background-color: #242916;
    align-items: center;
    flex-direction: column;
    font-family: 'Permanent Marker', cursive;
}
h5 {
    display: flex;
    color: rgb(122, 122, 122);
    padding: 0;
    margin: 0;
    justify-content: center;
}
hr {
    margin: 0px 190px 10px 190px;
}
@media screen and (min-width:700px) {
    body {
        display: flex;
        flex-wrap: wrap;
    }
    div {
        width: 50%;
        padding: 30px;
    }
    ul {
        width: 100%;
    }
}