<h2>Items to get</h2>

<form action="{% url 'grocery_list_app:add_item' %}" method="post">{% csrf_token %}
    <label for="description">Description:</label>
    <input type="text" id="grocery_item" name="grocery_item"/>
    <button type="submit">Add item</button> 
</form>

<ul>
    {% for item in grocery_list %}
        <li>{{ item.grocery_item }} -- created on: {{ item.date_created }}</li>
        <form action="{% url 'grocery_list_app:complete_item' item.id %}">{% csrf_token %}
            <input type='submit' value='Complete'/>
        </form>
        <form action="{% url 'grocery_list_app:delete_item' item.id %}">{% csrf_token %}
            <input type='submit' value='Delete'/>
        </form>
    {% endfor %}
</ul>
<hr>

<h2>Completed items</h2>
<ul> 
    {% for item in completed_list %}
        <li>{{ item.grocery_item }} -- completed on: {{ item.date_complete }}</li> 
    {% endfor %}
</ul>
<form action="{% url 'grocery_list_app:delete_complete' %}">{% csrf_token %}
    <input type="submit" value="Delete all"/> 
</form> 