body {
    background-color: burlywood;
    margin: auto;
    width: 50%;
    border: 5px solid teal;
    padding: 5px
}
h1 {
    text-align: right;
}
img {
    float: right;
    border-radius: 50%;
}
li {
    list-style-type: katakana;;
}

