{% comment %} 
# THIS FILE IS IN (OR WAS COPIED FROM) HERE:
# DJANGO LAB 5, BLOG https://github.com/PdxCodeGuild/class_orca/blob/main/3%20Django/labs/lab05-blog.md
# PROJECT NAME: blog_project
# APP NAMES: blog_app, users_app
{% endcomment %}

    {% extends 'base.html' %}

    {% block content %}

      <div class="post-entry">

        <h2> {{ post.title }} </h2>
        <h4><em>Posted by: {{ post.author.username}} </h4></em>
        
        <h4> <a href="{% url 'users_app:profile' post.author.username %}"> {{ post.author.username }} </a> </h4>

        <h4><em>Posted on: {{ post.created }} .</h4></em>
        <h4><em>Last update on: {{ post.updated }} .</h4></em>

{% comment %} think of the pipe as the 'cool trick operator' {% endcomment %}
        <p> <img src="{{ post.photo.url }}" caption="{{ post.photo.url }}"> </p>
        
        <p> {{ post.caption | linebreaks }} </p>

      </div>

          {% if request.user == post.author %}
                  
            <p><a href="{% url 'blog_app:edit_post' post.pk %}">Edit this post</a></p>
            <p><a href="{% url 'blog_app:delete_post' post.pk %}">Delete CHANGE TO BUTTON!</a></p>

          {% endif %}


    {% endblock content %}