{% comment %} 
# THIS FILE IS IN (OR WAS COPIED FROM) HERE:
# DJANGO LAB 5, BLOG https://github.com/PdxCodeGuild/class_orca/blob/main/3%20Django/labs/lab05-blog.md
# PROJECT NAME: blog_project
# APP NAMES: blog_app, users_app
{% endcomment %}



{% extends 'base.html' %}

  {% block content %}
      
    <h1>Signup New User!</h1>

      <form action="" method="post">
        {% csrf_token %}

        {{ form.as_p }}
        
        <input type="submit" value="Create Account">


      </form>

  {% endblock content %}