/* body {
    background-color: lightblue;
}
#header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#both_lists {
    display: flex;
    justify-content: space-evenly;
} */
