<form action="{% url 'grocerylist:add_item' %}" method="post">
    {% csrf_token %}
    <input type="text" id='item' name="item"/>
    <button type="submit">Add item</button>
</form>

<form action="{% url 'grocerylist:edit' %}" method="post">
{% csrf_token %}
    {% if current_grocery_list %}
    <ul>
        {% for i in current_grocery_list %}
            <li>{{i.item}}<input type="checkbox" name="i_id" value="{{ i.id }}"></li>
        {% endfor %}
    </ul>
    <input type="submit" value="Update completed items" name="_update">
    <input type="submit" value="Delete selected items" name="_delete">
    {% endif %}
</form> 

<hr/>
{% if completed_items %}
<ul>
    {% for i in completed_items %}
    <li>{{i.item}}</li>
    {% endfor %}
</ul>
{% endif %}


