<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The One Lab to Rule Them All</title>
    <link rel="stylesheet" href="main.css">
    <script src="secrets.js"></script>  <!-- I do NOT want to defer this loading, but all other JS yes -->
    <script src="https://unpkg.com/axios/dist/axios.min.js" defer></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js" defer></script>
    <script src="main.js" defer></script>
</head>

<body>
    <div id="tolkien_quotes">
        <h3>Lab 14: Any API. Currently: "The One Lab to Rule Them All!"</h3>
        <!-- 
          5cd99d4bde30eff6ebccfc15 : Sam
          5cd99d4bde30eff6ebccfe9e : Smeagol/Gollum
          5cd99d4bde30eff6ebccfca7 : Deagol



         -->
           <!-- {{ response_complete.data }}      -->
        <!-- <h3>   {{ response_complete.data.docs[0] }}     </h3> -->
            
            <!-- https://the-one-api.dev/documentation -->
        <hr>    
        <!-- <div v-if="data.page === 1"> -->
            <!-- <button><Page</button> -->
            <!-- <button @page_forward="page_forward()">Page></button> -->
        <!-- </div> -->
        <div id="results" v-for="quote_object in quotes_as_objects">
            <!-- removed:  :key="quote_object.id" ... docs say /quote/{id}  
                or /chapter/{id} ... don't really understand that -->
            <p> <ul>Quote:
              <li>{{ quote_object.id }}</li>
              <li>{{ quote_object.dialog }}</li>
              <li><strong>Character: {{ quote_object.character }}</strong></li>
              ------  </ul>
            </p>
        </div>
        <div id="search">
            <h3>Search for Tolkien text:</h3>
            <input v-model="search_terms" type="text" placeholder="Ex: ***** ">
            <button v-on:click="quotes_search_function">Search</button>
            <br>
        </div>
    </div>
    
    <br>
    <hr>
    <br>
    <hr>
    <div style="border: dashed 3px; width: 80%; position: center;" id="to-do-list">
        <h2>Outstanding to-do:</h2>
        <ol>
            <li>Add function to pageload to display data if there</li>
            <li>Add function to pageload to call API</li>
            <li>. . .</li>
            <li>Add: Component for quote block?</li>
            <li>. . .</li>
            <li>Add: Character radio buttons, races, movies, budgets, runtimes, </li>
            <li>Bind button to function...</li>
            <li>Make page buttons send and change pages</li>
            <li>Make page buttons appear only if pages > something</li>
            <li>. . .</li>
            <li>CSS:</li>
            <ul>
                <li>Change Color to LOTR theme</li>
                <li>Add a ring logo</li>
                <li>Fonts!</li>
                <li>.</li>
                <li>.</li>
                <li>.</li>
                <li>.</li>
            </ul>
            <li>Change VUE to production Version!</li>
            <li><strike>(Completed items are commented out in the HTML)</strike></li>
            
            <!--
            <li>Oldest here. . .</li>
            <li>Rename app in HTML Div and VUE app load</li>
            <li>Change Auth in JS to match docs</li>
            <li>Delete Component and move that out!</li>
            <li>Get some data!</li>

              <li>NEWEST HERE, paste BEFORE here. . . . . . .</li>
            -->
        </ol>
    </div>
</body>
</html>