{% extends 'base.html' %}

{% comment %} 
# THIS FILE IS IN (OR WAS COPIED FROM) HERE:
# DJANGO LAB 3, TWITTER MVP CLONE: https://github.com/PdxCodeGuild/class_orca/blob/main/3%20Django/labs/lab03-chirp.md
# PROJECT NAME: chirp_project
# APP NAMES: posts_app, users_app
{% endcomment %}



  {% block content %}
      
    <h1>DELETE THIS POST:</h1>

      <form action="" method="post">
        {% csrf_token %}

        <p>Are you sure you want to delete the post  "{{ post.post_text }}" ?
        (We thought it was perfectly worded, and lovingly succinct.)</p>
        
        <input type="submit" value="DELETE?!">


      </form>

  {% endblock content %}