{% extends 'base.html' %}

{% comment %} 
# THIS FILE IS IN (OR WAS COPIED FROM) HERE:
# DJANGO LAB 3, TWITTER MVP CLONE: https://github.com/PdxCodeGuild/class_orca/blob/main/3%20Django/labs/lab03-chirp.md
# PROJECT NAME: chirp_project
# APP NAMES: posts_app, users_app
{% endcomment %}



  {% block content %}
      
    <h1>New User Creation Page</h1>

      <form action="" method="post">
        {% csrf_token %}

        {{ form.as_p }}
        
        <input type="submit" value="Create Account">


      </form>

  {% endblock content %}