{% extends 'base.html' %}

{% comment %} 
# THIS FILE IS IN (OR WAS COPIED FROM) HERE:
# DJANGO LAB 3, TWITTER MVP CLONE: https://github.com/PdxCodeGuild/class_orca/blob/main/3%20Django/labs/lab03-chirp.md
# PROJECT NAME: chirp_project
# APP NAMES: posts_app, users_app
{% endcomment %}


{% block content %}
    
    <h1>
    {{ object.username }}
    {% comment %} the logged in user is NOT user.username, rather object.username... {% endcomment %}
    </h1>

    <h5>
    {{ object.username }} has been posting since: {{ object.date_joined }} !
    </h5>

{% comment %} is post_set correctly named???? {% endcomment %}
{% comment %} is post_set correctly named???? {% endcomment %}
{% comment %} is post_set correctly named???? {% endcomment %}
{% comment %} is post_set correctly named???? {% endcomment %}
    {% for post in object.post_set.all %}

        <div class="post-entry">
            <h2><a href="{% url 'posts_app:detail' post.pk %}"> {{ post.post_text }} </a></h2>
            <p>
            {{ post.caption | linebreaks }}
            </p>
        </div>

    {% endfor %}

{% endblock content %}