<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>My Todo List</title>
</head>
<body>
  <div id="todoapp">
    <h1>To-dos</h1>
    <input type="text" placeholder="Add a to-do and press enter" v-on:keyup.enter="addTodo">     
    <ul>
      <li v-for="todo in todos" :key="todo.id">
        <label>
          <input type="checkbox" v-model="todo.done">
        </label>
        <del v-if="todo.done">{{ todo.text }}</del>
        <span v-else>{{ todo.text }}
        </span>
        <div>
          <button v-on:click="removeTodo(todo.id)">Remove</button>
        </div>
      </li>
    </ul>
  </div>
  <script src="https://unpkg.com/vue"></script>
  <script src="main.js"></script>
</body>
</html>