body {
    font-family: 'Hind', sans-serif;
}

#app {
    text-align: center;
}

#daily {
    background-color: rgb(130, 130, 180)
}

#weekly {
    background-color: blueviolet;
}

#monthly {
    background-color: cyan;
}
