/* dark blue #02315F
orange #F36419 
light blue #4AA3D5
yellow #FFD61A
-next fix font on image
-add broder to font
-figure out image side and list
*/


html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
    
    
}

.layout{
    display: flex;
    flex-direction: column;    /* flex-wrap: wrap; */
    background-color: #02315F;
    }
  
header{
  height: 250px;
  width: 100%;
  background-image: url("images/caroline-sandgren-vikingpyre-final2.jpg");
  background-size: cover; 
} 


h1{ 
  font-family: 'Uncial Antiqua', cursive;
  font-size: 30 px;
  color: #4AA3D5;
  text-shadow: -1px 0#FFD61A, 0 1px #FFD61A, 1px 0 #FFD61A, 0 -1px #FFD61A;
  margin-bottom: 0;
  margin-top: 12px;
  margin-left: 12px;
   } 

h2{ 

font-family: 'Uncial Antiqua', cursive;
font-size: 14px;
color: #FFD61A;
margin-left: 12px;
margin-right: 12px;
text-shadow: -1px 0#4AA3D5, 0 1px #4AA3D5, 1px 0 #4AA3D5, 0 -1px #4AA3D5;
}

/* aside img{
              justify-content: left;
              height: 100px;
              width: 100px; */



.sidebarleft{
      display: flex;
      flex-direction: columns;
      /* flex-wrap: wrap; */
      justify-content: space-around;
      flex-wrap: wrap;
      font-family: 'Uncial Antiqua', cursive;
      font-size: 12 px;
      color: #4AA3D5;
      text-shadow: -1px 0 #02315F, 0 1px #02315F, 1px 0 #02315F, 0 -1px #02315F;
      height: 50px;   
      margin: 6px;
}

.sidebarleft img{ 
           
            width: 50px;
            }

a:link {
  color:#FFD61A;
  text-shadow: -1px 0#4AA3D5, 0 1px #4AA3D5, 1px 0 #4AA3D5, 0 -1px #4AA3D5;
}

/* visited link */
a:visited {
  color: #FFD61A;
  text-shadow: -1px 0#4AA3D5, 0 1px #4AA3D5, 1px 0 #4AA3D5, 0 -1px #4AA3D5;
}

/* mouse over link */
a:hover {
  color: #F36419;
}

/* selected link */
a:active {
  color: #4AA3D5;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

.Ships{
      height: 250px;
      width: 100%;
      background-image: url("images/Viking ship funeral.jpg");
      background-size: cover; 
      background-position: center;
      /* margin-top: 12px; */

}

.locations{
  height: 250px;
  width: 100%;
  background-image: url("images/another viking ship.jpg");
  background-size: cover; 
  background-position: center;
  margin-top: 12px;

}
h3{
    font-family: 'Uncial Antiqua', cursive;
    font-size: 24 px;
    color: #02315F;
    margin-left: 12px;
    text-shadow: -1px 0#FFD61A, 0 1px #FFD61A, 1px 0 #FFD61A, 0 -1px #FFD61A;
    

}

.Metal{
  height: 250px;
  width: 100%;
  background-image: url("images/racous band.jpg");
  background-size: cover; 
  background-position: center;
  margin-top: 12px;

}

footer{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 200px;
  width: 100%;
  background-image: url("images/viking ship at sunset.jpg");
  background-size: cover; 
  background-position: center;
  margin-top: 12px;
  
}

footer h3 {font-family: 'Uncial Antiqua', cursive;
  font-size: 24 px;
  color: #02315F}

.about{
font-family: 'Uncial Antiqua', cursive;

font-size: 18px;
margin-left: 12px;
color:#FFD61A;
text-shadow: -1px 0#4AA3D5, 0 1px #4AA3D5, 1px 0 #4AA3D5, 0 -1px #4AA3D5;
margin-top: 24px;}

h6 { font-family: 'Uncial Antiqua', cursive;
  color:#4AA3D5;
  font-size: 12px;
  text-align: end;
  margin-right: 12px; }


@media (min-width: 700px) {h1 { 
                           font-size: 42px;
                           margin-left: 24px; 
                          } 
                          h2{ font-size: 26px;
                            margin-left: 24px;}
                          h3{font-size: 36px; 
                            margin-left: 24px;}
                          .about{font-size: 24px;
                            margin-left: 24px;}
                          /* justify-content: space-around; */
                          footer {height: 350px;}
                          .sidebarleft{ margin-top: 30px;}}

@media (min-width: 1100px) {
                            h1 { 
                                font-size: 48px;
                                margin-top: 24px; 
                              } 
                              h2{ 
                                font-size: 32px;}
                              a {font-size: 32px;}
                                .Ships, .locations, .Metal, header{ height: 350px;}
                                h3{ font-size: 42px;}
}

                                      
                        
