/* dark blue #02315F
orange #F36419 
light blue #4AA3D5
yellow #FFD61A
-next fix font on image
-add broder to font
-figure out image side and list
*/


html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
    
    
}

body{
    display: flex;
    flex-direction: column;
    background-color: #02315F;
    }
  
header{
  height: 250px;
  width: 100%;
  background-image: url("images/caroline-sandgren-vikingpyre-final2.jpg");
  background-size: cover; 
} 


h1{ 
  font-family: 'Uncial Antiqua', cursive;
  font-size: 30 px;
  color: #FFD61A;}

h2{ 

font-family: 'Uncial Antiqua', cursive;
font-size: 18 px;
color: #FFD61A;}

/* aside img{
              justify-content: left;
              height: 100px;
              width: 100px; */



aside {
      display: flex;
      flex-direction: column;
      font-family: 'Uncial Antiqua', cursive;
      font-size: 12 px;
      color: #FFD61A;
      justify-content: space-around;

}

.Ships{
      height: 250px;
      width: 100%;
      background-image: url("images/Viking ship funeral.jpg");
      background-size: cover; 

}

.locations{
  height: 250px;
  width: 100%;
  background-image: url("images/another viking ship.jpg");
  background-size: cover; 

}
h3{
    font-family: 'Uncial Antiqua', cursive;
    font-size: 24 px;
    color: #FFD61A;

}

.Metal{
  height: 250px;
  width: 100%;
  background-image: url("images/racous band.jpg");
  background-size: cover; 

}

footer{
  height: 250px;
  width: 100%;
  background-image: url("images/viking ship at sunset.jpg");
  background-size: cover; 
  font-family: 'Uncial Antiqua', cursive;
  font-size: 24 px;
  color: #FFD61A;
}

    /* header img {display: grid;
                    grid-column: 0/span 5;
                    grid-row: 0 /span 3;

    } */

/* .sidebar-left{
    grid-column: 0/span 5;
    grid-row: 3 /span 2; } */

/* .Ships{
    grid-column: 0/span 5;
    grid-row: 4 /span 2; } */

/* .locations{
    grid-column: 0/span 5;
    grid-row: 5/span 2; } */

/* .Metal{
    grid-column: 0/span 5;
    grid-row: 6 /span 2; } */

/* footer{
    grid-column: 0/span 5;
    grid-row: 7 /span 2; } */

        /* .sidebar-left img{display: grid;
            grid-column: 0/span 5;
            grid-row: 3 /span 2;} */
  
  /* @media all and (max-width: 700px) {
    aside,
    article {
      grid-column: 1 / 4;
    } */
  /* } */
  
  /* Demo Specific Styles
  body {
    margin: 0 auto;
    max-width: 56em;
    padding: 1em 0;
  } */
/*   
  header,
  aside,
  article,
  footer {
    background: #eaeaea;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 25vh;
  } */