body {
    display: flex;
    font-size: 50px;
    font-family: 'Orbitron', sans-serif;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    overflow: hidden;
    background-color: black;
}
#clock {
    display: flex;
    justify-content: center;
    color: red;
}