
ul {
    list-style-type: none;
}
a {
    color: black;
    text-decoration: none;
}
table {
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
    list-style-type: none;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }