<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    {% load static %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="https://yarn.pm/normalize.css"/>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'urls_app/style.css' %}">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <title>URL Shortener</title>
</head>

<body>
    <div class=header>
        <h1>URL Shortener</h1>
    </div>

    <div class="get-code">
        <h3>Shorten a URL address</h3>
        <form action="{% url 'urls_app:shorten' %}" method="post">
            {% csrf_token %}
            <label for="item &nbsp;">Enter your URL here</label>
            <input type="text" id="url" name="url"/>
            <button type="submit">Abbreviate</button>
        </form>
    </div>

    <div class="table-responsive-md">
        <table class="table table-hover table-dark">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Short URL</th>
                    <th scope="col">Go to Page</th>
                    <th scope="col">Clicks</th>
                </tr>
            </thead>
            <tbody>
                {% if new_url_list %}
                    {% for x in new_url_list %}
                        <tr>
                            <th scope="row">{{ forloop.counter }}</th>
                            <td>http://localhost:8000/{{ x.short_code }}</td>
                            <td>
                                <form action="{% url 'urls_app:goto' x.short_code  %}"
                                method="post">
                                    {% csrf_token %}
                                    <button type="submit">Go</button>
                                </form>
                            </td>
                            <td>{{ x.clicks }}</td>
                    {% endfor %}
            </tbody>
                {% else %}
                    <p>No urls added</p>
                {% endif %}
        </table>
    </div>
    <div class="extra">
        <h2>PII that we collect, use, or otherwise handle</h2>
    <table class="table table-hover table-dark">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Your ip address</th>
                    <th scope="col">Your location</th>
                    <th scope="col">What you ate for dinner</th>
                    <th scope="col">SSN</th>
                </tr>
            </thead>
            <tbody>
                {% if new_url_list %}
                    {% for x in new_url_list %}
                        <tr>
                            <th scope="row">{{ forloop.counter }}</th>
                            <td>{{ x.ip }}</td>
                            <td>{{ x.location }}</td>
                            <td>{{ x.dinner }}</td>
                            <td>{{ x.social }}</td>
                    {% endfor %}
            </tbody>
                {% else %}
                    <p>No urls added</p>
                {% endif %}
        </table>
    
    </div>
</body>