
body, #container {
    font-family: 'Comfortaa', cursive;
    padding: 48px;
    margin: auto;
    text-align: center;
}

#container {
    background-image: url(snow-ornaments.jpg);
    background-repeat: no-repeat;
    background-size: auto;
    background-position: center;
    color: white;
    border: 20px solid transparent;
    border-image: url(presents.jpg) 30 round;
}

ul {
    list-style-position: inside;
    list-style-type: none;
}

li {
    font-size: 18px;
}

li::before {
    content: "⛄ ";
}

#input {
    margin: 24px;
}

#list {
    margin-bottom: 24px;
}

button {
    border-radius: 3px;
    padding: 5px;
    background-color: gray;
    color: white;
    font-size: 14px;
}

button:hover {
    background-color: darkgrey;
}